In [4]:
from langchain.llms import GooglePalm

api_key = 'AIzaSyBGNy4iJ6w5RmBuuZN_2PoM0NDlqYubHrs'
llm = GooglePalm(google_api_key=api_key, temperature=0.2)

In [5]:
from langchain.utilities import SQLDatabase
db_user = "root"
db_password = "Charan"
db_host = "localhost"
db_name = "atliq_tshirts"
db = SQLDatabase.from_uri(
    f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER(11) NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER(11) NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER(11) NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER(11),
	stock_quantity INTEGER(11) NOT NULL,
	PRIMARY KEY (t_shirt_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Adidas	Red	S	26	37
2	Levi	Black	S	20	60
3	Van Huesen	Black	XL	22	12
*/

In [6]:
from langchain_experimental.sql import SQLDatabaseChain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain.run(
    "How many t- shirts do we have left for nike in extra small size and white color")

d:\PROJECTS\LLM project 1\.venv\Lib\site-packages\langchain_core\_api\deprecation.py:115: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many t- shirts do we have left for nike in extra small size and white color
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(100,)]
Answer:100
> Finished chain.

In [7]:
qns2 = db_chain.run(
    "How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('353'),)]
Answer:353
> Finished chain.

In [8]:
qns2 = db_chain.run(
    "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('19432'),)]
Answer:19432
> Finished chain.

In [21]:
# qns3 = db_chain.run(
#     "If we have to sell all the Levi's T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")

# Gives Error

In [10]:
sql_code = """select sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) as total revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id fro, t_shirts where brand='Levi' group by t_shirt_id)
a left join discounts on a.t_shirts_id=discounts.t_shirt_id
"""

qns3 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...
select sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) as total revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id fro, t_shirts where brand='Levi' group by t_shirt_id)
a left join discounts on a.t_shirts_id=discounts.t_shirt_id

SQLQuery:SELECT sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue
FROM
(SELECT sum(price*stock_quantity) AS total_amount, t_shirt_id
FROM t_shirts
WHERE brand='Levi'
GROUP BY t_shirt_id)
a LEFT JOIN discounts ON a.t_shirt_id=discounts.t_shirt_id
SQLResult: [(Decimal('28201.000000'),)]
Answer:28201.0
> Finished chain.

In [11]:
qns4 = db_chain.run(
    "select sum(price*stock_quantity) from t_shirts where brand='Levi'")

> Entering new SQLDatabaseChain chain...
select sum(price*stock_quantity) from t_shirts where brand='Levi'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE brand='Levi'
SQLResult: [(Decimal('28381'),)]
Answer:28381
> Finished chain.

In [12]:
qns5 = db_chain.run("How many white color Levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's t shirts we have available?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(12,), (92,), (40,)]
Answer:12
> Finished chain.

In [13]:
qns5 = db_chain.run(
    "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White';")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White';
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White';
SQLResult: [(Decimal('144'),)]
Answer:144
> Finished chain.

## Few Shot Learning

In [14]:
few_shots=[
    {
        'Question':'How many t-shirts do we have left for Nike in XS size and white colour?',
        'SQLQuery':"select sum(stock_quantity) from t_shirts where brand='Nike' and color='White' and size='XS'",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns1
    },
    {
        'Question':"How much is the price of the inventory for all small size t-shirts?",
        'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns2
    },
    {
        'Question':"If we have to sell all the Levi's T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?",
        'SQLQuery':"select sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) as total revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id fro, t_shirts where brand='Levi' group by t_shirt_id) a left join discounts on a.t_shirts_id=discounts.t_shirt_id",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns3
    },
    {
        'Question':"If we have to sell all th eLevi's T-shirts today. How much revenue our store will gain?",
        'SQLQuery':"select sum(price*stock_quantity) from t_shirts where brand='Levi'",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns4
    },
    {
        'Question':"How many white color Levi's t shirts we have?",
        'SQLQuery':"SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White';",
        'SQLResult': "Result of the SQL Query",
        'Answer':qns5
    },
    
]

In [15]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

to_vectorize = [" ".join(example.values()) for example in few_shots]

In [16]:
to_vectorize

["How many t-shirts do we have left for Nike in XS size and white colour? select sum(stock_quantity) from t_shirts where brand='Nike' and color='White' and size='XS' Result of the SQL Query 100",
 "How much is the price of the inventory for all small size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL Query 19432",
 "If we have to sell all the Levi's T-shirts today with discounts applied. How much revenue our store will generate (post discounts)? select sum(a.total_amount*((100-COALESCE(discounts.pct_discount,0))/100)) as total revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id fro, t_shirts where brand='Levi' group by t_shirt_id) a left join discounts on a.t_shirts_id=discounts.t_shirt_id Result of the SQL Query 28201.0",
 "If we have to sell all th eLevi's T-shirts today. How much revenue our store will gain? select sum(price*stock_quantity) from t_shirts where brand='Levi' Result of the SQL Query 28381",
 "How many white color Levi's t shirts we have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'; Result of the SQL Query 144"]

In [17]:
vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings, metadatas=few_shots)

In [18]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Answer': '100',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white colour?',
  'SQLQuery': "select sum(stock_quantity) from t_shirts where brand='Nike' and color='White' and size='XS'",
  'SQLResult': 'Result of the SQL Query'},
 {'Answer': '144',
  'Question': "How many white color Levi's t shirts we have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White';",
  'SQLResult': 'Result of the SQL Query'}]

In [23]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt
print(_mysql_prompt)
print("------------------")
print(PROMPT_SUFFIX)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here


------------------
Only use the following tables:
{table_info}

Question: {input}

In [25]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [26]:
from langchain.prompts import FewShotPromptTemplate

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], 
)

In [27]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [28]:
new_chain("How many white color Levi's shirt I have?")

d:\PROJECTS\LLM project 1\.venv\Lib\site-packages\langchain_core\_api\deprecation.py:115: LangChainDeprecationWarning: The function `__call__` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White';
SQLResult: [(Decimal('144'),)]
Answer:144
> Finished chain.

{'query': "How many white color Levi's shirt I have?", 'result': '144'}

In [29]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('19432'),)]
Answer:19432
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '19432'}